<!-- footer start -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">We developed this app to help home cooks and chefs cook their best.</p>
                    <h8>© 2023</h8>


                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#">Adrian: <img src="../../public/images/github-logo.png"><img src="../../public/images/linkedin-logo.png"><a class="white-text" href="#"><i class="tiny material-icons">email</i></a></li>
                        <li><a class="white-text" href="#">Sam GitHub </a><a class="white-text" href="#">| Linkedin </a><a class="white-text" href="#">| Email <i class="tiny material-icons">email</i></a></li>
                        <li><a class="white-text" href="#">Stephanie <a>GitHub</a></a><a class="white-text" href="#">| Linkedin 
                            
                        <a class="white-text" href="#"><i class="tiny material-icons">email</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- footer ends -->