<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culinary Connections</title>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   {{!-- custom css --}}
    <link rel=stylesheet href="/css/style.css">
</head>

<body>

    {{{ body }}}

    <!--  Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> --}}
    {{!-- <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script> --}}
    <script src="/js/homepage.js"></script>
    <script src="/js/create.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>