{{> navbar}}

<div class="container">
  <div class="section">
    <div class="row">
      <!-- left column begins here -->
      <div class="col s3 recipe-feed">
        {{! <h4 class="left-align">Latest Feed <i id="filter_bt" href="#" data-target='dropdown1'
                        class="small material-icons">filter_list</i></h4> }}
        <a
          id="filter_bt"
          class="dropdown-trigger btn"
          data-target="dropdown1"
        >Filter</a>
        <ul id="dropdown1" class="dropdown-content">
          <li><a class="easy">easy</a></li>
          <li><a class="medium">medium</a></li>
          <li><a class="hard">hard</a></li>
        </ul>
        
        {{#each recipes}}
        <div class="recipeContainer">
          <div class="row">
            <div id="recipeCard" class="card">
              <div class="card-content  white-text">
                <h5 id="recipeTitle" class="left-align" id="title">{{recipe_name}}</h5>
                <br/>
                <p id="recipeDescrition" class="left-align">{{recipe_description}}</p>
                <br/>
                <span id="creatorName" class="left-align"> Created by: {{user.username}}</span>
                <br/>
                <span id="difficultyNum" class="left-align"> Difficulty: {{difficulty_level}}</span>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        
      </div>
      <!-- left column ends here -->
      <!-- right column with recipe details starts here -->
      <div class="col s9 recipe-detail">
        <h5 class="center">Easy Chicken Pot Pie</h5>
        <h6 class="Steps">Step 1:</h6>
        <p>Sauté the aromatics and make the roux:</p>
        <p>In a Dutch oven over medium-high heat, melt the butter. Once the
          butter has melted and begins sizzling, add the onion, celery, and
          garlic. Using a large spoon to stir, sauté the vegetables until they
          become translucent, 3 to 4 minutes.</p>
        <h5 class="Steps">Step 2:</h5>
        <p>Sauté the aromatics and make the roux:</p>
        <p>In a Dutch oven over medium-high heat, melt the butter. Once the
          butter has melted and begins sizzling, add the onion, celery, and
          garlic. Using a large spoon to stir, sauté the vegetables until they
          become translucent, 3 to 4 minutes.</p>
        <h5 class="Steps">Step 3:</h5>
        <p>Sauté the aromatics and make the roux:</p>
        <p>In a Dutch oven over medium-high heat, melt the butter. Once the
          butter has melted and begins sizzling, add the onion, celery, and
          garlic. Using a large spoon to stir, sauté the vegetables until they
          become translucent, 3 to 4 minutes.</p>
        <h5 class="Steps">Step 4:</h5>
        <p>Sauté the aromatics and make the roux:</p>
        <p>In a Dutch oven over medium-high heat, melt the butter. Once the
          butter has melted and begins sizzling, add the onion, celery, and
          garlic. Using a large spoon to stir, sauté the vegetables until they
          become translucent, 3 to 4 minutes.</p>
      </div>
      <!-- recipe detail ends here -->
    </div>
  </div>
</div>

{{> footer}}