<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CulinaryConnections</title>
    <link rel="stylesheet" href="/css/welcome.css" />
  </head>
  <body>
    <div id="top">
      <header>
        <h1>Culinary Connections</h1>
        <p>Home</p>
      </header>
    </div>
    <div id="img-container">
      <img id="logo" src="./images/CC-Logo.svg" alt="SVG image of Logo" />
    </div>
    <main>
      <div id="welcome">
        <h3>Welcome</h3>
        <p>Welcome to Culinary Connection, a social media site for foodies! Here
          you can share your favorite recipes, find new recipes, and connect
          with other foodies! Sign up today to get started!</p>
        <div id="buttons">
          <a id="signup" href="/signup">Sign up</a>
          <a id="login" href="/login">Login</a>
        </div>
      </div>
      <div id="about">
        <h4>About</h4>
        <p>This was created by a group of foodies who wanted to share their love
          of food with others. We hope you enjoy our site!</p>
      </div>
    </main>
    <footer>
      <p>&copy; 2020 CulinaryConnections</p>
    </footer>
  </body>
</html>