<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CulinaryConnections</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <header>
        <h1>CulinaryConnections</h1>
    </header>
    <main>
        <h2>Home</h2>
        <p>Welcome to CulinaryConnections, a social media site for foodies!</p>
        <p>Here you can share your favorite recipes, find new recipes, and connect with other foodies!</p>
        <p>Sign up today to get started!</p>
        <a href="/signup">Sign Up here.</a>
        <a href="/login">Login here.</a>
    </main>
    <footer>
        <p>&copy; 2020 CulinaryConnections</p>
    </footer>
</body>
</html>