<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CulinaryConnections</title>
    <link rel="stylesheet" href="/css/welcome.css" />
  </head>
  <body>
    <div id="top" class="green darken-2">
      <header >
        <h1 >Culinary Connections</h1>
        <p>Home</p>
      </header>
    </div>
    <main>
      <div id="welcome">
        <p>Welcome to CulinaryConnections, a social media site for foodies! Here
          you can share your favorite recipes, find new recipes, and connect
          with other foodies!</p>
        <p>Sign up today to get started!</p>
        <div id="buttons">
          <a id="signup" href="/signup">Sign up</a>
          <a id="login" href="/login">Login</a>
        </div>
      </div>

    </main>
    <footer>
      <p>&copy; 2020 CulinaryConnections</p>
    </footer>
  </body>
</html>